<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="DefaultAppender" type="log4net.Appender.RollingFileAppender">
    <file value="LogFile1/"/>　<!--存放log路徑-->
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Date"/>
    <datePattern value="yyyy-MM-dd.lo\g"/>　<!--log檔的命名-->
    <layout type="log4net.Layout.PatternLayout">
      <!--內容格式-->
      <conversionPattern value="%-5p %date{yyyy/MM/dd HH:mm:ss} %-20c{1} %-20M %m%n" />
    </layout>
  </appender>
  <appender name="WebAppender" type="log4net.Appender.RollingFileAppender">
    <file value="LogFile2/"/>　<!--存放log路徑-->
    <staticLogFileName value="false"/>
    <appendToFile value="true"/>
    <rollingStyle value="Composite"/>
    <maxSizeRollBackups value="-1" />
    <maximumFileSize value="5KB" />
    <datePattern value="yyyy-MM-dd.lo\g"/>　<!--log檔的命名-->
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p %date{yyyy/MM/dd HH:mm:ss} %-20c{1} %-20M %m%n" />
    </layout>
  </appender>
  <root>
    <level value="ALL"/>
    <appender-ref ref="DefaultAppender"/>
  </root>
  <logger name="Web">
    <level value="INFO" />
    <appender-ref ref="WebAppender"/>
  </logger>
</log4net>