<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vcs_MyNote.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vcs_MyNote.Properties.Settings>
            <setting name="Left" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Contents" serializeAs="String">
                <value />
            </setting>
            <setting name="font" serializeAs="String">
                <value />
            </setting>
            <setting name="font_size" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="back_color" serializeAs="String">
                <value>LightYellow</value>
            </setting>
        </vcs_MyNote.Properties.Settings>
    </userSettings>
</configuration>