<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="vcs_WebCam_AForge2_Record1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v2.0.50727"/></startup><userSettings>
        <vcs_WebCam_AForge2_Record1.Properties.Settings>
            <setting name="limit_record_time_sec" serializeAs="String">
                <value>15</value>
            </setting>
        </vcs_WebCam_AForge2_Record1.Properties.Settings>
    </userSettings>
</configuration>
