<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vcs_SendTo_All.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vcs_SendTo_All.Properties.Settings>
            <setting name="file_size_limit" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="show_big_files_only" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="show_video_files_only" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="show_audio_files_only" serializeAs="String">
                <value>False</value>
            </setting>
        </vcs_SendTo_All.Properties.Settings>
    </userSettings>
</configuration>