<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vcs_PictureCrop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vcs_PictureCrop.Properties.Settings>
            <setting name="x_st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="y_st" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="width" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="height" serializeAs="String">
                <value>0</value>
            </setting>
        </vcs_PictureCrop.Properties.Settings>
    </userSettings>
</configuration>