<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LinqPages.Properties.Settings.AdventureWorksConnectionString"
            connectionString="Data Source=MR-PC\YL;Initial Catalog=AdventureWorks;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>