<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppendDataBaseDataToComboBox.Properties.Settings.db_02_1ConnectionString"
            connectionString="Data Source=localhost;Initial Catalog=db_02_1;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>