<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <log4net>
    <root>
      <!---日志級別-->
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Log\\"/>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value="yyyy-MM-dd&quot;.txt&quot;"/>
      <staticLogFileName value="false"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger:%line - %message%newline"/>
      </layout>
    </appender>
  </log4net>
  <appSettings>
    <!--地圖中心點坐標：-->
    <!--南京：118.773,32.043 天安門：116.403963, 39.915119-->
    <add key="MapCenter" value="116.403963, 39.915119"></add>
    <!--本地存儲切片的路徑-->
    <add key="TilePath" value="C:\\______test_files\\GisMap"></add>
    <!--下載失敗時重試的最大次數，網絡狀態不好時候可修改為一個大的整數值，比如10-->
    <add key="Retry" value="3"></add>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>