<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>新聞系統</title>
	{% load staticfiles %}
	<link href="{% static "css/style.css" %}" rel="stylesheet" type="text/css" />
</head>
<body>
	<div id="warp">
		<div id="header">
			 <div class="logo">
				<img src="{% static "images/DWonline.png" %}" width="180" height="40" alt="news" />
			</div>
		</div>
		<div class="headings">
			<h2>新聞系統</h2>
		</div>  
		{% block content %}{% endblock %}
		<div id="footer">&copy; Copyright 2017 eHappy Studio 新聞系統</div>
	</div>
</body>
</html>
