<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vcs_ShowPicture.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
      <vcs_ShowPicture.Properties.Settings>
        <setting name="picture_foldername" serializeAs="String">
          <value />
        </setting>
        <setting name="size_width" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="size_height" serializeAs="String">
          <value>10</value>
        </setting>
        <setting name="display_speed" serializeAs="String">
          <value>1000</value>
        </setting>
      </vcs_ShowPicture.Properties.Settings>
    </userSettings>
</configuration>