<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.net>
    <requestCaching>
      <defaultHttpCachePolicy
        maximumAge="30.00:00:00"
        maximumStale="30.00:00:00"
        minimumFresh="10.00:00:00"
        policyLevel="CacheIfAvailable" />
    </requestCaching>
  </system.net>
</configuration>

