<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iMS_Link.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <iMS_Link.Properties.Settings>
            <setting name="egd_type" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="operation_mode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="automation_use_plc" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="automation_use_ims" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="restore_default" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="factory_mode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="automation_auto_start" serializeAs="String">
                <value>True</value>
            </setting>
        </iMS_Link.Properties.Settings>
    </userSettings>
</configuration>