<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vcs_System1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
		<vcs_System1.Properties.Settings>
			<setting name="PictureDirectory" serializeAs="String">
				<value />
			</setting>
			<setting name="UpdateRegistry" serializeAs="String">
				<value>False</value>
			</setting>
			<setting name="Location" serializeAs="String">
				<value>0, 0</value>
			</setting>
			<setting name="Size" serializeAs="String">
				<value>400, 150</value>
			</setting>
			<setting name="Delay" serializeAs="String">
				<value>120</value>
			</setting>
		</vcs_System1.Properties.Settings>
    </userSettings>
</configuration>