<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請造訪
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:43005/WebService1.asmx" binding="basicHttpBinding"
        bindingConfiguration="WebService1Soap" contract="ServiceReference1.WebService1Soap"
        name="WebService1Soap" />
    </client>
  </system.serviceModel>
</configuration>