<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="howto_apotd_desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <howto_apotd_desktop.Properties.Settings>
            <setting name="LastLoadTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUrl" serializeAs="String">
                <value />
            </setting>
        </howto_apotd_desktop.Properties.Settings>
    </userSettings>
</configuration>