<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="vcs_MyPlayer3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <vcs_MyPlayer3.Properties.Settings>
            <setting name="mp3_filename" serializeAs="String">
                <value />
            </setting>
            <setting name="position" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="volume" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="pdf_filename" serializeAs="String">
                <value />
            </setting>
            <setting name="pdf_page" serializeAs="String">
                <value>-1</value>
            </setting>
        </vcs_MyPlayer3.Properties.Settings>
    </userSettings>
</configuration>