<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="使用LINQ技術在SQL數據庫中刪除數據.Properties.Settings.db_11ConnectionString"
            connectionString="Data Source=.;Initial Catalog=db_11;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>